* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
body {
  background-color:#1e1e1f;
}
.header {
  width: 100%;
  height: 80px;
  background-color: #41403d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  position: fixed;
  z-index: 10;

  h1 {
    color: #fff;
  }
  .search-box input {
    outline: none;
    border: none;
    width: 350px;
    height: 30px;
    font-size: 1.2rem;
    padding: 0 1rem;
  }
}

.container {
  width: 100%;
  margin: 100px auto;
  display: flex;
  position: relative;
  .animeInfo {
    width: 320px;
    height: 100%;
    background-color: #f9F6ee;
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 1;
  }
  .anime-row {
    display: flex;
    flex-direction: column;
  
    .row {
      display: inline-flex;
      gap: 20px;
      margin-left: 24rem;
    }
    .text-heading {
      margin-left: 24rem;
      margin-top: 1rem; 
      color: #fff;
    }
  }

}

.card {
  width:  220px;
  height: 320px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  text-decoration: none;
  color: #1e1e1f;
  overflow: hidden;

  .img-container {
    width:  100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
  }
  img {
    width: 100%;
    height: auto;
  }

  .anime-info-description {
    p {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0 10px 10px 0;
      padding: 4px;
      background-color: aquamarine;
      transition: all .3s ease;
    }
  }  

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: linear-gradient(0deg, rgba(19,19,19,1) 20%, rgba(24,25,25,1) 40%, rgba(54, 63, 63, 0.74) 100%);
    text-align: justify;
    padding: 0 1rem;
    transition: all .3s ease;
    max-height: 320px;

    .ja_title {
      color: #fff;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    .synopsis {
      color: #fff;
      width: 100%;
      max-height: 280px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
      margin-bottom: 1rem;
    }
  }
  .anime-info {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    height: 20%;
    .anime-info-ttl {
      display: block;
      transition: color .3s ease;
    }
    
  }

  &:hover {

    .img-container {
      
    }
    .anime-info-ttl {
      color: transparent;
    }
    .anime-info-description {
      p {
        background-color: transparent;
        color: transparent;
      }
    }
    .overlay {
      opacity: 1;
      height: 90%;
      padding: 1rem;
    }
  }
}


.anime-content {
  padding: 40px;
  margin: 80px 0;

  img {
    width: 150px;
  }
}
